body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.brandBlue{
  border-radius: 5px;
  background-color: rgb(24, 129, 199);
  color: white;
  padding: 3px;
  font-weight: bold;
}
.rama{
  background-color: white;
  border-radius: 5px;
  margin: 1vw;
  padding: 1vw;
}
.photoStyle{
  margin: 1vw;
  border-radius: 5px;
}
.hr{

  border-bottom: lightgray 1px solid;
}
.infoText{
  color: rgb(24, 129, 199);
}
.cenerAlignClass
{
  width: 100%;
  text-align: center;
}
.myLink{
  color: rgb(24, 129, 199) !important;
}
.numericCol{
  text-align: center;
}
/* .exapmleMyPhotos{
  background-repeat: no-repeat;
  background-image: url("imageDefault.png");
  height: 8vw;
  background-size: contain;
}
*/
td{
  padding-top: 1rem;
  padding-left: 3rem;
}
.forOpen{
  display: none;
}
.profilePhoto{
  width: 100%;
  height: auto;
} 
.paginationLink{
  color: rgb(37, 40, 46) !important;
}
.paginationLinkActive{
  border-bottom: solid 2px rgb(24, 129, 199);
}
.notif
{
  border-radius: 50%;
  color: white;
  background-color: rgb(24, 129, 199);
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
}
.icon{
  width: 30px;
  height: 30px;
}
.circleImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.rightSign{
  line-height: 40px;
}
.myTextArea{
  border: none !important;
  border-end-end-radius: 0 !important;
  border-bottom: lightgray 2px solid !important;
}
.markableBtn{
  background-color: rgb(24, 129, 199) !important;
  color: white !important;
}
#upBtn{
  background: none;
  border: none;
  position: fixed;
  left: 8px;

}
#upBtn:hover{
  border-radius: 5px;
  border: rgba(32, 113, 167, 0.726) solid 2px;
}
.upTextColor{
  color: rgba(32, 113, 167, 0.726);
}
.upSymbol{
  writing-mode: vertical-rl;
  color: rgba(32, 113, 167, 0.726);
}